<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Payment details -->
    <add key="name" value="Tzahi Desalto" />
    <add key="email" value="yapan7@outlook.com" />
    <add key="cardNumber" value="XXXXXXXXXX" />
    <add key="expirationMonth" value="11" />
    <add key="expirationYear" value="2019" /> <!-- Put the full year (YYYY) here -->
    <add key="cvv" value="XXX" />
    <add key="idNumber" value="XXXXXXXXX" />
    <!-- Server details -->
    <add key="url" value="http://+" />
    <add key="port" value="80" />
    <add key="routingAssemblies" value="" />
  </appSettings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
</startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
