<appSettings>
  <!-- Payment details -->
  <add key="name" value="Tzahi Desalto" />
  <add key="email" value="yapan7@outlook.com" />
  <add key="cardNumber" value="XXXXXXXXXX" />
  <add key="expirationMonth" value="11" />
  <add key="expirationYear" value="2019" /> <!-- Put the full year (YYYY) here -->
  <add key="cvv" value="680" />
  <add key="idNumber" value="XXXXXXXXX" />
  
  <!-- Server details -->
  <add key="url" value="http://+" />
  <add key="port" value="80" />
  <add key="routingAssemblies" value="C:\Crawlers\Crawler\bin\Debug\Crawlers.dll" />
</appSettings>