<appSettings>
  <!-- Payment details -->
  <add key="name" value="" />
  <add key="email" value="" />
  <add key="cardNumber" value="" />
  <add key="expirationMonth" value="" />
  <add key="expirationYear" value="" />
  <add key="cvv" value="" />
  <add key="idNumber" value="" />
  
  <!-- Server details -->
  <add key="url" value="http://+" />
  <add key="port" value="80" />
  <add key="password" value=""/>
  <add key="routingAssemblies" value="" />
</appSettings>